#!/usr/bin/make -f
DEB_INSTALL_MANPAGES_kmess := debian/kmess.1
DEB_INSTALL_MENU_ARGS := debian/kmess.menu
DEB_PATCHDIRS := debian/patches
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/kde.mk
#include /usr/share/cdbs/1/rules/simple-patchsys.mk
